{% extends 'layout.html' %}
{% include 'includes/_navrun.html' %}
{%block body%}
<!-- result Section -->
<section id="results" class="bg-light-gray" align="center">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Features</h2>
        <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
  </div>
</section>

<!-- Prediction section -->
<section id="predict">
  <div class="container text-center">
    <div class="row">
      <h2 class="section-heading">Breast cancer predictions</h2>
      <br>
      <!-- {%for i in result%}
      {{i}}
      {%endfor%} -->
    </div>
  </div>
  <div class="text-center">
  <br>

  <div class="container text-center">
    <table id="attributes" class="table-striped table-condensed table-hover	table display">
      <tr>
        <thead class="thead-default">
          <tr>
            <th>
              Attributes
            </th>
            <th>
              Range
            </th>
            <th >
              Value
            </th>
          </tr>
        </thead>
        <td>
          Clump Thickness
        </td>
        <td>
          0&nbsp;<input id="Clump_Thickness" data-slider-tooltip="hide" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>&nbsp;10
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal">3</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Uniformity of Cell Size
        </td>
        <td>
          0&nbsp;<input id="Uniformity_of_Cell_Size" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>&nbsp;10
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal1">3</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Uniformity of Cell Shape
        </td>
        <td>
          0&nbsp;<input id="Uniformity_of_Cell_Shape" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>&nbsp;10
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal2">3</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Marginal Adhesion
        </td>
        <td>
          0&nbsp;<input id="Marginal_Adhesion" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>&nbsp;10
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal3">3</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Single Epithelial Cell Size
        </td>
        <td>
          0&nbsp;<input id="Single_Epithelial_Cell_Size" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>&nbsp;10
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal4">3</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Bare Nuclei
        </td>
        <td>
          0&nbsp;<input id="Bare_Nuclei" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>&nbsp;10
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal5">3</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Bland Chromatin
        </td>
        <td>
          0&nbsp;<input id="Bland_Chromatin" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>&nbsp;10
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal6">3</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Normal Nucleoli
        </td>
        <td>
          0&nbsp;<input id="Normal_Nucleoli" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>&nbsp;10
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal7">3</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Mitoses
        </td>
        <td>
          0&nbsp;<input id="Mitoses" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>&nbsp;10
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal8">3</span></span>
        </td>
      </tr>
    </table>

  </div>
</section>
{%endblock%}
