{% extends 'layout.html' %}
{% include 'includes/_navrun.html' %}
{%block body%}
<!-- result Section -->
<section id="results" class="bg-light-gray">
  <div class="container text-center">
    <div class="row">
      <div >
        <h2 class="section-heading">Features</h2>
        <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
  </div>

</section>

<!-- Prediction section -->

<section id="predict">
  <div class="container text-center">
    <div class="row">

      <h2 class="section-heading">Breast Cancer Diagnostic</h2>
      <br>

      <h>

      </h>
      {% include 'includes/_messages.html' %}
      <div id="result"></div>
      <!-- {%for i in result%}
      {{i}}
      {%endfor%} -->
    </div>
  </div>
  <br>

  <div class="container">
    <table id="attributes" class="table-striped table-condensed table-hover	table display">
      <tr>
        <thead class="thead-default">
          <tr>
            <th>
              Attributes
            </th>
            <th class="text-left">
              Range [0,10]
            </th>
            <th >
              Value
            </th>
          </tr>
        </thead>
        <td>
          Clump Thickness
        </td>
        <td>
          <input id="Clump_Thickness" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal">5</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Uniformity of Cell Size
        </td>
        <td>
          <input id="Uniformity_of_Cell_Size" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal1">5</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Uniformity of Cell Shape
        </td>
        <td>
          <input id="Uniformity_of_Cell_Shape" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal2">5</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Marginal Adhesion
        </td>
        <td>
          <input id="Marginal_Adhesion" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal3">5</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Single Epithelial Cell Size
        </td>
        <td>
          <input id="Single_Epithelial_Cell_Size" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal4">5</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Bare Nuclei
        </td>
        <td>
          <input id="Bare_Nuclei" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal5">5</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Bland Chromatin
        </td>
        <td>
          <input id="Bland_Chromatin" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal6">5</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Normal Nucleoli
        </td>
        <td>
          <input id="Normal_Nucleoli" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span id="ex6SliderVal7">5</span></span>
        </td>
      </tr>
      <tr>
        <td>
          Mitoses
        </td>
        <td>
          <input id="Mitoses" type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
        </td>
        <td>
          <span id="ex6CurrentSliderValLabel">&nbsp;<span value="5" id="ex6SliderVal8">5</span></span>
        </td>
      </tr>
    </table>
    <div class="text-right">
      <button id="ClickMe" type="button" name="button" class="btn btn-default btn-lg">PREDICT</button>
    </div>


  </div>
</section>

{%endblock%}
